$corPrimaria: rgb(255, 255, 255);
$corSecundaria: rgb(0, 0, 0);
$corCards: rgba(90, 90, 90, 0.35);;
$corBordasClaras: rgb(63, 63, 63) ;
$corHoverSemDes: rgb(44, 44, 44);
//$corBordasFormsUser: rgb(255, 255, 255);
$btnsCancel: rgb(255, 111, 111);
$btnsConfirm: rgb(93, 248, 93);
$bolinhaStatusBom: rgb(17, 218, 17);
$bolinhaStatusRuim: red;