@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
#video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

#entre {
  display: none;
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bold;
  padding-top: 200px;
  position: relative;
  text-align: center;
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
}

#entre a {
  color: rgb(255, 255, 255);
}

.btnsBorders {
  width: 100%;
  font-size: 1em;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(255, 255, 255);
}
.btnsBorders:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.btnsBorders:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.btnsBordersBottomLess {
  font-size: 1em;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(255, 255, 255);
}
.btnsBordersBottomLess:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.btnsBordersBottomLess:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.btnDireEsquer {
  display: flex;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}

.btnsCancel {
  font-size: 0.9em;
  background-color: rgb(255, 111, 111);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  border: none;
}
.btnsCancel:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.btnsCancel:hover {
  background-color: red;
}

.btnsConfirm {
  font-size: 0.9em;
  background-color: rgb(93, 248, 93);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  border: none;
}
.btnsConfirm:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.btnsConfirm:hover {
  background-color: rgb(17, 218, 17);
}

.btnBlack {
  font-size: 1em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  gap: 3px;
}
.btnBlack:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.btnBlack:hover {
  background-color: rgb(44, 44, 44);
}

.title {
  font-size: 1.3em;
}

.titleForms {
  font-size: 1.6em;
  color: rgb(255, 255, 255);
  text-align: center;
}

.titleBorders {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 8px;
}

.inputFile {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.inputFile::file-selector-button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 3px;
}

textarea {
  resize: none;
  height: 160px;
}

.inputs {
  border-radius: 5px;
  padding: 5px;
  border: none;
}

#sectionForms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#forms {
  width: 350px;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  gap: 10px;
  text-align: center;
}
#forms a {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 395px) {
  #forms {
    width: 300px;
  }
}
@media screen and (max-width: 330px) {
  #forms {
    width: 280px;
  }
}
#sectionProduct .cardsProdu {
  background-color: black;
  border-radius: 8px;
}

#divInputConsul {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 0px 15px;
}
#divInputConsul button {
  width: 80px;
}

.inputsConsultas {
  width: 100%;
  border-radius: 5px;
  padding: 3px;
  border: none;
}

.divEditExclu {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.divEditExclu button {
  width: 50%;
}

#sectionDetails {
  margin: 20px 200px;
}

.titleDetalhes {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#holdInfosCar {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#divAlgumasInfos {
  display: grid;
  grid-template-areas: "boxPrima boxSecond";
}

#precoTotal {
  margin: 10px;
}

@media screen and (max-width: 1115px) {
  #sectionDetails {
    margin: 20px 100px;
  }
}
@media screen and (max-width: 600px) {
  #sectionDetails {
    margin: 20px 20px;
  }
}
@media screen and (max-width: 440px) {
  #sectionDetails {
    margin: 20px 10px;
  }
}
.cardsProductsCar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 8px;
  align-items: center;
}

.infosProducts {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 340px) {
  .infos {
    font-size: 0.9em;
  }
}
.imgCar {
  width: 150px;
}

@media screen and (max-width: 440px) {
  .imgCar {
    width: 100px;
  }
}
@media screen and (max-width: 360px) {
  .imgCar {
    width: 80px;
  }
}
.riscoQuebra {
  margin: 2% 0%;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.divBoxDescri {
  padding: 5px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  overflow: hidden;
}

.borderBoxs {
  padding: 10px;
  border: 1px solid rgb(63, 63, 63);
}

#caixaAnuncio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 1000px;
  margin: auto;
}

#holdAddSacoDescri {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#fotosAnuncio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#infoAnuncio {
  width: 500px;
}

.imgsAnuncio {
  width: 450px;
  height: 450px;
}

#divSize {
  margin: 1% 0%;
}
#divSize button {
  padding: 5px 10px;
}

#description {
  transition: 0.4s;
  visibility: hidden;
  transform: translateY(100%);
  margin: 1% 0%;
}

#divBoxDescri {
  text-align: center;
  height: 20px;
}

#divSaco {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

@media screen and (max-width: 1115px) {
  #caixaAnuncio {
    flex-wrap: wrap;
    width: 700px;
  }
}
@media screen and (max-width: 720px) {
  #caixaAnuncio {
    width: 500px;
  }
}
@media screen and (max-width: 560px) {
  #caixaAnuncio {
    width: 300px;
    gap: 30px;
  }
  #fotosAnuncio {
    width: 300px;
  }
  .imgsAnuncio {
    width: 250px;
    height: 250px;
  }
  .btnDireEsquer {
    width: 23px;
    height: 23px;
  }
  .titleAnun {
    font-size: 1.3em;
  }
  #description {
    font-size: 1em;
  }
}
#containerCard {
  display: grid;
  justify-content: center;
  grid-template-areas: "cardsProdu cardsProdu cardsProdu cardsProdu ";
  gap: 20px;
  margin: 20px 0px;
}

.cardsProdu {
  width: 280px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.divImgsProdu {
  width: 280px;
}

.imgsProdu {
  width: 280px;
  height: 280px;
}

.containerInfosInit {
  text-align: center;
}

#loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(31, 31, 31);
  background: radial-gradient(circle, rgb(31, 31, 31) 0%, rgb(0, 0, 0) 100%);
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
}

#logoCarregando {
  width: 250px;
}

#boxInfosPerfil {
  width: 300px;
  margin: auto;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#infos {
  display: flex;
  align-items: center;
  gap: 10px;
}

#imgPerfil {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: rgb(0, 0, 0);
}

#emailPerfil {
  font-size: 0.9em;
}

#divFerramentas {
  margin: 20px 0px;
  display: grid;
  justify-content: center;
  grid-template-areas: "cardsFerramentas cardsFerramentas cardsFerramentas";
  gap: 10px;
}

.cardsFerramentas {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.cardsFerramentas a {
  color: rgb(255, 255, 255);
  margin-top: 5px;
  background-color: rgb(13, 13, 13);
}

.divSvg {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 740px) {
  #divFerramentas {
    grid-template-areas: "cardsFerramentas";
  }
}
@media screen and (max-width: 330px) {
  #boxInfosPerfil {
    width: 280px;
  }
}
.cardPedido {
  width: 250px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
}
.cardPedido button {
  margin: 5px 0px 0px;
}

.bolinhaStatusVerde {
  width: 10px;
  height: 10px;
  background-color: rgb(17, 218, 17);
  border-radius: 100%;
  box-shadow: 0px 0px 3px 1px rgb(17, 218, 17);
  margin-top: 4px;
}

.bolinhaStatusRed {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 100%;
  box-shadow: 0px 0px 3px 1px red;
  margin-top: 4px;
}

.situacaoPedido {
  display: flex;
  align-items: center;
  gap: 6px;
}

#divisionCar {
  display: grid;
  grid-template-areas: "holdProducts holdInfosPagamento";
  gap: 15px;
  align-items: flex-start;
}

#holdProducts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#holdCancelAdd {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#holdInfosPagamento {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 8px;
}
#holdInfosPagamento .btnsBorders {
  margin-top: 10px;
}

.subTotal {
  margin: 10px 0px;
}

#divFrete {
  height: 17px;
  overflow: hidden;
}

#divInputFrete {
  transition: 0.5s;
  transform: translateY(10px);
  margin: 5px 0px;
  display: flex;
  gap: 5px;
}
#divInputFrete input {
  width: 100%;
}

@media screen and (max-width: 1115px) {
  #divisionCar {
    display: grid;
    grid-template-areas: "holdProducts";
    gap: 15px;
    align-items: flex-start;
  }
}
#sectionErroAdm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5%;
}

.boxInfoErro {
  background-color: rgb(253, 179, 179);
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.inforErro {
  color: rgb(78, 78, 78);
  font-size: 0.9em;
}

.titleInforErro {
  font-size: 1.1em;
}

#infosFinaisEndereco {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
}
#infosFinaisEndereco button {
  width: 100%;
}

.holdInfosEnd {
  display: flex;
  gap: 10px;
}

#infosEnd {
  margin: 10px;
}

#enderecoCompleto {
  display: flex;
  gap: 3px;
}

#divTitleEdit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#precoTotalFim {
  color: rgb(255, 255, 255);
}

#divInformacoesFinais {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

#holdProductsFimCar {
  margin: 10px;
}

#aEdit {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 400px) {
  #btnFim {
    font-size: 1em;
    padding: 4px;
  }
  #divInformacoesFinais {
    font-size: 1em;
  }
}
/*
@import "./pages/detailsPedido.scss";
@import "./pages/detailsMensagens.scss";
@import "./pages/detailsPedido.scss";
@import "./pages/forms.scss";
@import "./pages/formsUser.scss";
@import "./pages/editarEndereco.scss";

@import "./pages/cadasterProduct.scss";
@import "./pages/consultaProduct.scss";
@import "./pages/cadasterVariation.scss";
@import "./pages/consultaClass.scss";
@import "./pages/consultaVaris.scss";
@import "./mediaQueries/telaPedidos.scss";
@import "./mediaQueries/detailsPedido.scss";
@import "./mediaQueries/detailsMensagens.scss";
*/
@media (max-width: 1115px) {
  #containerCard {
    grid-template-areas: "cardsProdu cardsProdu ";
  }
}
@media (max-width: 664px) {
  /*svg {
      width: 25px;
      height: 25px;
  }*/
  #containerCard {
    grid-template-areas: "cardsProdu cardsProdu";
    gap: 10px;
  }
  .cardsProdu {
    width: 150px;
    padding: 0px;
  }
  .divImgsProdu {
    width: 150px;
  }
  .imgsProdu {
    width: 150px;
    height: 150px;
  }
  .containerInfosInit {
    font-size: 0.9em;
    text-align: center;
  }
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background: rgb(31, 31, 31);
  background: radial-gradient(circle, rgb(31, 31, 31) 0%, rgb(0, 0, 0) 100%);
  /*background-image: url('../imgs/f4.jpg');
  background-repeat: no-repeat;
  background-size: cover;*/
  color: rgb(255, 255, 255);
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 3vw;
}

#logo {
  width: 140px;
}

nav {
  transform: translateY(-100%);
  transition: transform 1s;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  background-color: rgb(0, 0, 0);
}
.navMenu li {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
.navMenu li a {
  text-transform: uppercase;
  font-size: 1.4em;
  margin: 2px 0px;
  color: rgb(255, 255, 255);
}

#redes {
  margin: 0px 0px 10px;
  display: grid;
  grid-template-areas: "cadaRede cadaRede cadaRede";
}

.cadaRede {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
}

#searchAndCar {
  display: flex;
  align-items: center;
}

#divRemoveMenu {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

#volteInicio {
  width: 50px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  color: rgb(255, 255, 255);
}

#removeMenu {
  width: 30px;
  height: 30px;
}

.btnsMenu {
  border: none;
  cursor: pointer;
  outline: 0;
  background-color: transparent;
}

section {
  margin: 5% 0%;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 670px) {
  #logo {
    width: 100px;
  }
  .navMenu {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
