<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Produto</title>
    <link rel="stylesheet" href="../css-atual/style.css">
    <link rel="icon" type="image/x-icon" href="../imgs/Oficial.gif">
    <script src="../js/Requisicoes/requisicaoHeader/header.js" defer></script>
</head>
<body>
    <header class="header"></header>
    <section id="sectionProduct">
        <a href="painelPerfilAdm.html" id="volteInicio">Início</a>
        <div id="divInputConsul">
            <input type="text" placeholder="Nome do produto" class="inputsConsultas"><button class="btnsBorders">Buscar</button>
        </div>
        <div id="containerCard">
                <div class="cardsProdu">
                    <div class="divImgsProdu">
                        <img src="../imgs/camFrenteL.png" class="imgsProdu" alt="">
                    </div>
                    <div class="containerInfosInit">
                        <div class="namePeca">Nome do produto</div>
                        <div class="precoPeca">R$0000.00</div>
                        <div class="divEditExclu"><button class="btnsCancel">Excluir</button><button class="btnsConfirm">Editar</button></div>
                    </div>
                </div>
                <div class="cardsProdu">
                    <div class="divImgsProdu">
                        <img src="../imgs/camFrenteL.png" class="imgsProdu" alt="">
                    </div>
                    <div class="containerInfosInit">
                        <div class="namePeca">Nome do produto</div>
                        <div class="precoPeca">R$0000.00</div>
                        <div class="divEditExclu"><button class="btnsCancel">Excluir</button><button class="btnsConfirm">Editar</button></div>
                    </div>
                </div>
                <div class="cardsProdu">
                    <div class="divImgsProdu">
                        <img src="../imgs/camFrenteL.png" class="imgsProdu" alt="">
                    </div>
                    <div class="containerInfosInit">
                        <div class="namePeca">Nome do produto</div>
                        <div class="precoPeca">R$0000.00</div>
                        <div class="divEditExclu"><button class="btnsCancel">Excluir</button><button class="btnsConfirm">Editar</button></div>
                    </div>
                </div>
                <div class="cardsProdu">
                    <div class="divImgsProdu">
                        <img src="../imgs/camFrenteL.png" class="imgsProdu" alt="">
                    </div>
                    <div class="containerInfosInit">
                        <div class="namePeca">Nome do produto</div>
                        <div class="precoPeca">R$0000.00</div>
                        <div class="divEditExclu"><button class="btnsCancel">Excluir</button><button class="btnsConfirm">Editar</button></div>
                    </div>
                </div>
        </div>
    </section>
</body> 
</html>