<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYX | Início</title>
    <link rel="stylesheet" href="../css-atual/style.css">
    <link rel="icon" type="image/x-icon" href="../imgs/Oficial.gif">
    <script src="../js/index.js" defer></script>    
    <script src="../js/Requisicoes/requisicaoHeader/header.js" defer></script>
</head>

<body>
    <header class="header">
    </header>
    <main>
    <section id="sectionForms">
        
        <a href="painelPerfilAdm.html" id="volteInicio">Início</a>
        <form action="" id="forms">
            <div class="titleForms">Minha Conta</div>
            <input type="text" placeholder="Digite seu Email" class="inputs">
            <input type="text" placeholder="Digite sua senha" class="inputs">
            <input type="text" placeholder="Digite seu telefone" class="inputs">
            <button class="btnsConfirm">Salvar</button> 
        </form>
    </section>
</main>
    <footer>
        COPYRIGHT ©
    </footer>
</body>

</html>