#divisionCar {
    display: grid;
    grid-template-areas: 'holdProducts holdInfosPagamento';
    gap: 15px;
    align-items: flex-start;
}

#holdProducts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#holdCancelAdd {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#holdInfosPagamento {
    background-color: $corSecundaria;
    padding: 10px;
    border-radius: 8px;
    .btnsBorders {
        margin-top: 10px;
    }
}

.subTotal {
    margin: 10px 0px;
}

#divFrete {
    height: 17px;
    overflow: hidden;
}   

#divInputFrete {
    transition: .5s;
    transform: translateY(10px);
    margin: 5px 0px;
    display: flex;
    gap: 5px;
    input {
        width: 100%;
    }
}

@media screen and (max-width:1115px){
    #divisionCar {
        display: grid;
        grid-template-areas: 'holdProducts';
        gap: 15px;
        align-items: flex-start;
    }
}

@media screen and (max-width:800px){

}