#infosFinaisEndereco {
    background-color: $corSecundaria;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    button {
        width: 100%;
    }
}

.holdInfosEnd {
    display: flex;
    gap: 10px;
}

#infosEnd {
    margin: 10px;
}

#enderecoCompleto {
    display: flex;
    gap: 3px;
}

#divTitleEdit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#precoTotalFim {
    color: $corPrimaria;
}

#divInformacoesFinais {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    font-size: 1.2em;
}

#holdProductsFimCar {
    margin: 10px;
}

#aEdit {
    color: $corPrimaria;
}

@media screen and (max-width: 400px){   
    #btnFim {
        font-size: 1em;
        padding: 4px;
    }
    #divInformacoesFinais {
        font-size: 1em;
    }
    }