.cardPedido {
    width: 250px;
    background-color: $corSecundaria;
    color: $corPrimaria;
    padding: 10px;
    border-radius: 8px;
    button {
        margin: 5px 0px 0px;
    }
}

.bolinhaStatusVerde {
    width: 10px;
    height: 10px;
    background-color: $bolinhaStatusBom;
    border-radius: 100%;
    box-shadow: 0px 0px 3px 1px $bolinhaStatusBom;
    margin-top: 4px;
}

.bolinhaStatusRed {
    width: 10px;
    height: 10px;
    background-color: $bolinhaStatusRuim;
    border-radius: 100%;
    box-shadow: 0px 0px 3px 1px $bolinhaStatusRuim;
    margin-top: 4px;
}

.situacaoPedido {
    display: flex;
    align-items: center;
    gap: 6px;
}