@mixin btnsMenu () {
    border: none;
    cursor: pointer;
    outline: 0;
    background-color: transparent;
}

@mixin buttons ($font-size, $background-color, $color) {
    font-size: $font-size;
    background-color: $background-color;
    color: $color;
    border: 1px solid $corPrimaria;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    outline: 0;
    transition: .5s;
    font-family: Arial, Helvetica, sans-serif;
    &:hover {
        background-color: transparent;
        color: $corPrimaria;
    }
}