.btnsBorders {
    width: 100%;
    @include buttons(1em, $corPrimaria, $corSecundaria);
    border: 1px solid $corPrimaria;
    &:hover {
        background-color: transparent;
        color: $corPrimaria;
    }
}

.btnsBordersBottomLess {
    @include buttons(1em, transparent, $corPrimaria);
    border: 1px solid $corPrimaria;
    &:hover {
        background-color: $corPrimaria;
        color: $corSecundaria;
    }
}


.btnDireEsquer { 
    display: flex;
    align-items: center;
    border: 1px solid $corPrimaria;
    background-color: transparent;
    color: $corPrimaria;
    width: 30px;
    height: 30px;
}

.btnsCancel {
    @include buttons(0.9em, $btnsCancel, $corSecundaria);
    padding: 5px;
    border: none;
    &:hover {
        background-color: $bolinhaStatusRuim;
    }
}

.btnsConfirm {
    @include buttons(0.9em, $btnsConfirm, $corSecundaria);
    padding: 5px;
    border: none;
    &:hover {
        background-color: $bolinhaStatusBom;
    }
}

.btnBlack {
    @include buttons(1em, $corSecundaria, $corPrimaria)   ; 
    display: flex;
    align-items: center;
    gap: 3px;
    &:hover {
        background-color: $corHoverSemDes;
    }
}