.inputFile {
    background-color: $corPrimaria;
    color: $corSecundaria;
}

.inputFile::file-selector-button {
    background-color: $corSecundaria;
    color: $corPrimaria;
    border: none;
    border-radius: 5px;
    padding: 3px;
}

textarea {
    resize: none;
    height: 160px
}

.inputs {
    border-radius: 5px;
    padding: 5px;
    border: none;
}