.riscoQuebra {
    margin: 2% 0%;
    width: 100%;
    height: 2px;
    background-color: $corPrimaria;
}

.divBoxDescri {
    padding: 5px;
    border: 1px solid $corPrimaria;
    border-radius: 5px;
    overflow: hidden;
}

.borderBoxs {
    padding: 10px;
    border: 1px solid $corBordasClaras;
}