.title {
    font-size: 1.3em;
}

.titleForms {
    font-size: 1.6em;
    color: $corPrimaria;
    text-align: center;
}

.titleBorders {
    background-color: $corSecundaria;
    padding: 10px;
    border-radius: 8px;
}